@font-face {font-family: 'Segoe UI';src: url('../fonts/segoeui.ttf');font-weight: normal;;}
@font-face {font-family: 'Segoe UI';src: url('../fonts/seguisb.ttf');font-weight: bold;}
* {margin: 0;padding: 0;font-family: 'Segoe UI';}

body {background: url(../img/bg1.png) 50% top no-repeat, url(../img/bg2.png) bottom no-repeat, url(../img/bg3.png) 50% 36px repeat-y, #a8b64a;color: #414141;}
h3 {font-weight: bold;font-size: 20px;color: #fefcc3;margin: 0 25px;}
span.red {font-weight: bold;color: #ab4c1e;font-size: 14px;}

#header {height: 418px;width: 964px;margin: 0 auto;}

#logo {width: 261px;padding: 193px 0 96px 0;margin: 0 auto;}
#logo > a {display: block;width: 261px;height: 51px;}

#menu {width: 921px;height: 69px;margin: 0 auto;}
#menu > a {margin: 28px 0 0 36px;float: left;text-decoration: none;display: block;height: 18px;}
#menu #m1 {background: url('../img/m1.png') no-repeat;width: 56px;}
#menu #m1:hover {background: url('../img/m1.png') 0 -18px no-repeat;}
#menu #m2 {background: url('../img/m2.png') no-repeat;width: 51px;}
#menu #m2:hover {background: url('../img/m2.png') 0 -18px no-repeat;}
#menu #m3 {background: url('../img/m3.png') no-repeat;width: 61px;}
#menu #m3:hover {background: url('../img/m3.png') 0 -18px no-repeat;}
#menu #m4 {background: url('../img/m4.png') no-repeat;width: 59px;}
#menu #m4:hover {background: url('../img/m4.png') 0 -18px no-repeat;}
#menu #m5 {background: url('../img/m5.png') no-repeat;width: 77px;}
#menu #m5:hover {background: url('../img/m5.png') 0 -18px no-repeat;}
#menu #m6 {background: url('../img/m6.png') no-repeat;width: 62px;}
#menu #m6:hover {background: url('../img/m6.png') 0 -18px no-repeat;}
#menu #m7 {background: url('../img/m7.png') no-repeat;width: 63px;}
#menu #m7:hover {background: url('../img/m7.png') 0 -18px no-repeat;}

#start {float: right;margin: -10px 0;}
#start a {background: url('../img/start.png') no-repeat;display: block;width: 229px;height: 91px;}
#start a:hover {background: url('../img/start.png') 0 -91px no-repeat;}

#content {overflow: hidden;width: 965px;margin: 0 auto;min-height: 800px;}

#left {float: left;margin: 0 0 0 22px;width: 676px;}

.news {margin: 0 0 10px 0}
.news .header {background: url(../img/nw1.png);height: 60px;width: 676px;line-height: 65px;}
.news .content {margin: 22px 30px 22px 22px;font-size: 14px;}
.news .content img {width: 619px;border: solid 3px #c9bb97;margin: 0 0 16px 0;}
.news .footer {background: url(../img/nw2.png);height: 52px;width: 676px;}
.news .footer > span {font-size: 14px; margin: 0 25px;line-height: 52px;float: left;}
.news .footer .nw3 {display: block;background: url(../img/nw3.png) no-repeat;width: 107px;height: 36px;float: right;margin: 8px 30px}
.news .footer .nw3:hover{background: url(../img/nw3.png) 0 -36px no-repeat;}
.news .footer .nw4 {display: block;background: url(../img/nw4.png) no-repeat;width: 107px;height: 36px;float: right;margin: 8px 30px}
.news .footer .nw4:hover{background: url(../img/nw4.png) 0 -36px no-repeat;}

#right {float: right;margin: 0 22px 160px 9px;width: 236px;}

.block {}
.block .header {background: url(../img/bl1.png);height: 61px;width: 236px;line-height: 65px;text-align: center;}
.block .content {margin: 14px 14px 14px 23px}
.block .footer {background: url(../img/bl2.png);height: 3px;width: 236px;}

#footer {height: 222px;min-width: 1076px;max-width: 1076px;margin: 0 auto;}